@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color:black;
    font-family: 'Red Rose', sans-serif;
  }
  h2{
    @apply font-bold text-3xl mb-2 text-yellow-500;
  }
  p{
    @apply text-base mb-4;
  }
  .family {
    width: 100%;
    height: 100vh;
    min-height: 50%;
    z-index: -1;
    filter: brightness(40%);
  }
  .generate-btn {
    background: linear-gradient(124.4deg, #eab308 10.8%, #eab308 87.34%);
    border-radius: 24px;
    padding: 0 2rem;
    height: 4rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    background: rgba(255, 255, 2, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 0, 0.3);
    transition: all 1s ease;
  }
  .generate-btn:hover{
      transform: scale(1.1);
      backdrop-filter: blur(5px);
  }
  .lab_s{
    @apply block text-gray-700 text-sm font-bold mb-2 ;
  }
  .lab{
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  .inp_s{
    @apply shadow appearance-none border rounded py-2 px-3 w-full md:w-1/2 text-gray-700 leading-tight focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .inp{
    @apply shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .drop{
      @apply shadow border rounded py-2 px-3 md:mb-2 w-full md:w-1/2 text-gray-700 leading-tight focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .btn{
    @apply border-2 border-yellow-500  bg-yellow-500 text-gray-700 rounded-full uppercase px-2 py-2 mx-4 my-2 font-semibold cursor-pointer hover:bg-yellow-400 hover:text-white transition duration-200 ease-in-out;
  }

}
